<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doubtnut.analytics">

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.doubtnut.analytics.debug.AnalyticsLogActivity"
            android:configChanges="locale|orientation|screenSize"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>
