<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doubtnut.olympiad">

    <application>
        <activity
            android:name="com.doubtnut.olympiad.ui.OlympiadActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarTheme" />
    </application>
</manifest>